 *{ 
Margin:0;
Padding:0;
Box-sizing: border-box;
Font-family: xyz;
}

html,body{
Width:100%;
Height:100%;
}

nav{
    position: fixed;
    /* background-color: green; */
    height: 12vh;
 display: flex;
    align-items: flex-start;
    width: 100%;
    padding: 2vw 10.4vw;
   justify-content: space-between;
   color: white;
   z-index: 10;
}

 /* #nav-bottom{
    background-color: #111;
    height: 0%;
    position: absolute;
    width: 80%;
    bottom: 0%;
    transition: all ease 0.7s;
    border-bottom: 1px solid #dadada;
     display: flex;
     align-items: flex-start;
   justify-content: space-between;
   padding: 2vw 15vw;
   padding-left: 18vw; */
   /* gap: 2vw; */
/* /} */

/* .bottom-div{
    margin-top: 2vw;
} */

/* .bottom-div h5{
     padding: 0.5px; 
     opacity: 0;
}

nav:hover #nav-bottom {
    height: 170%;
    bottom: -170%;
} */


.nav-part2{
    display: flex;
   gap: 2vw; 
   align-items: flex-start;
   padding: 1vh 0;
   position: relative;
   z-index: 10;

 }  

.nav-part2 h4{
    font-size: 0.75vw;
    text-transform: uppercase;
    font-weight: 600;
    align-items: flex-start;
    padding-bottom: 1vw;
    position: relative;
   
}

.nav-part2 h5{
    margin-bottom: 1vw;
    /* background-color: red; */
    /* opacity: 0; */
    display: none;
    margin-top: 1vw;
    overflow: hidden;
   
}

.nav-part2 h5 span{
font-size: 0.60vw;
display: inline-block;
}

NAV button{
    background-color: green;
    display: flex;
    align-items: center;
    padding: 10px 16px;
    border-radius: 50px;
    font-size: 0.8vw;
    font-weight: 700;
    border: none;
}


NAV button SVG{
    height: 0.8vw;
}


#nav-bottom{
    width:79%;
    height: 0vh;
    position: absolute;
    /* background-color: red; */
    background-color: #111;
    top: 100%;
    z-index: 9;
    border-bottom: 1px solid white;

}


#page1{
    padding-top: 12vw;
    height: 100vh;
    width: 100%;
    background-color: #111;
    color: white;
}
#page1 h1{
    font-size: 8.5vw;
    text-transform: uppercase;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 8.5vw;
}

#page1 p{
    text-align: center;
    font-size: 1.5vw;
    font-weight: 400;
    margin-top: 2vh;
}

#page1-some h4{
    text-align: center;
    font-weight: 400;
    font-size: 1vw;
    text-transform: lowercase;
    margin-top: 0.5vw;
    padding: 5px 10px;
    border: 1px solid rgb(114, 111, 111);
    border-radius: 50px;
}

#page1-some{
    display: flex;
    justify-content: center;
    align-items: center;
}

#page1-some h4:nth-child(3){
    border: none;
    padding: 3px;
}

#moving-div{
    /* background-color: red; */
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    /* position: absolute; */
    bottom: 3%;   
}

#moving-div{
gap: 2vw;
overflow: hidden;
}

#moving-div.move{
    display: flex;
    align-items: center;
  
}

#moving-div.move img{
    height: 1vw;
    animation-name: mobe;
    animation-duration: 5s;
}


 @keyframes mobe{
    0%{
        transform: translate(0);
    }
    100%{
        transform: translate(-100);
    }
 }






#page2{
    height: 100vh;
    width: 100%;
    background-color: #111;
}
 
